extends shared/layout

block content
	div(class="container")

		form(action='/invitee/list', method='get', style='margin-top:200px')
			div(class='form-group')
				input(class='form-control input-lg',name='key',type='text', placeholder='输入手机号搜索')
		
			div(class='form-group text-center')
				button(type='submit' class="btn btn-primary btn-lg") 搜索
