extends layout

block content
  div(class='site-loader')
    span
    p Loading
  div(id='siteBg', class='site-bg')
    div(class='site-bg-img')
    div(class='site-bg-overlay')
    div(class='site-bg-effect')
  div(id='main' class='section')
    div(class='section-table')
      div(class='section-cell')
        h1(class='lucky')
          span(id='Lucky') PINTEC ALL IN DAY


block style
  link(rel='stylesheet', type='text/css', href='/css/lottery/vendor.css')
  link(rel='stylesheet', type='text/css', href='/css/lottery/base.css')
  style.
    .lucky {
      text-align: center
    }


block script
  script(src='/js/lottery/plugin.js', type='text/javascript')
  script(src='/js/lottery/variable.js', type='text/javascript')
  script(src='/js/lottery/main.js', type='text/javascript')
  script.
    var list = !{JSON.stringify(data)};
    var lucky = $("#Lucky");
    var listLength = list.length;
    var index = 0;
    var timer;

    function play() {
      var item = list[index];
      lucky.html(item.name + " " + item.phone);
      index++;
      if (index == listLength) {
        index = 0
      }
      timer = setTimeout(play,100);
    }

    function stop() {
      clearTimeout(timer);
    }