extends layout

block content
  div(class='site-loader')
    span
    p Loading
  div(id='siteBg', class='site-bg')
    div(class='site-bg-img')
    div(class='site-bg-overlay')
    div(class='site-bg-effect')
  div(id='main' class='section')
    div(class='section-table')
      div(class='section-cell')
        h1(class='lucky')
          span(id='Lucky') PINTEC ALL IN DAY


block style
  link(rel='stylesheet', type='text/css', href='/css/lottery/vendor.css')
  link(rel='stylesheet', type='text/css', href='/css/lottery/base.css')
  style.
    .lucky {
      text-align: center
    }


block script
  script(src='/js/lottery/plugin.js', type='text/javascript')
  script(src='/js/lottery/variable.js', type='text/javascript')
  script(src='/js/lottery/main.js', type='text/javascript')
  script.
    var list = !{JSON.stringify(data)};
    var lucky = $("#Lucky");
    var listLength = list.length;
    var index = 0;
    var timer;
    var isRuning;

    function play() {
      isRuning = true;
      var item = list[index];
      lucky.html(item.name + " " + encryptPhone(item.phone)).attr('data-phone', item.phone);
      index++;
      if (index == listLength) {
        index = 0
      }
      timer = setTimeout(play,100);
    }

    function stop() {
      isRuning = false;
      clearTimeout(timer);
      var theOne = lucky.data('phone');
      $.post('/win', {phone: theOne}).success(function(data){
        console.info(data);
      })
    }

    function encryptPhone(phone){
      return phone.substr(0, 3) + '****' + phone.substr(7, 11)
    }
    
    $(document).on('keydown',function(e){
      var keycode = e.which;
      if(keycode == 83){
        if(!isRuning){
          play()
        }
        else{
          stop()
        }
      }
    })