extends shared/layout

block content
	div(class="container")
		if message.length > 0
			div(class='alert alert-danger') #{message}

		form(action='/signup', method='post')
			div(class='form-group')
				label(class='form-label') username
				input(class='form-control input-lg',name='username',type='text')
			div(class='form-group')
				label(class='form-label') password
				input(class='form-control input-lg',name='password',type='password')
			button(type='submit', class='btn btn-primary') submit