extends ../shared/layout

block content
	div(class='container')
		h1 Winners
		hr
		table(class='table table-strip')
			thead
				tr
					th Name
					th Phone
					th isWinner
					th level
					th
			tbody
				each invitee in invitees
					tr
						td #{invitee.name}
						td #{invitee.phone}
						td #{invitee.isWinner}
						td #{invitee.reward}
						td
							a(href='#') GOT